# This is a dummy config.
# Either mount your config from host like <config_path>:/home/klippy/.config/printer.cfg or change the contents of this file in UI to match your printer!
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFDB055357303903721043-if00u

[delta_calibrate]
radius: 110
speed: 100
horizontal_move_z: 17

[bed_mesh]
mesh_radius: 110
mesh_origin: 0,0
round_probe_count: 5
horizontal_move_z: 17
speed: 100

[probe]
pin: ^PA2
samples: 2
sample_retract_dist: 1
speed: 3
z_offset: 0
lift_speed: 10

#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu

#[hall_filament_width_sensor]
#adc1: PF4
#adc2: PF5
#cal_dia1: 1.5
#cal_dia2: 1.94
#raw_dia1: 18433
#raw_dia2: 18438
#default_nominal_filament_diameter: 1.75
#max_difference: 0.800
#measurement_delay: 623
#use_current_dia_while_delay: true

[gcode_arcs]
resolution: 0.1

# [temperature_sensor Raspberry]
# sensor_type: temperature_host

[stepper_a]
step_pin: PE9
dir_pin: PF1
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: PB10
homing_speed: 50

[stepper_b]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: PE12

[stepper_c]
step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
microsteps: 16
rotation_distance: 40
endstop_pin: PG8

[extruder]
step_pin: PE14
dir_pin: !PA0
enable_pin: !PC3
microsteps: 16
rotation_distance: 8.373346591132103
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB1 
sensor_pin:  PF3
sensor_type: ATC Semitec 104GT-2
pressure_advance: 0.15
min_temp: 0
max_temp: 320

[verify_heater heater_bed]
max_error: 240

[heater_bed]
heater_pin: PD12
sensor_pin: PF6
control: watermark
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130

[heater_fan fan1]
pin: PC8

[fan]
pin: PE5

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: delta
max_velocity: 500
max_accel: 5000
max_z_velocity: 200
minimum_z_position: -25

[tmc2209 stepper_a]
uart_pin: PC13
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 stepper_b]
uart_pin: PE3
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 stepper_c]
uart_pin: PE1
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PD4
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

[virtual_sdcard]
path: /home/pi/gcode_files

[pause_resume]

[display_status]

[gcode_macro M407]
description: Return the current measured filament width as result
gcode:
    QUERY_FILAMENT_WIDTH 

[gcode_macro M406]
description: Turn off the filament width sensor and stop using it to do flow control
gcode:
    DISABLE_FILAMENT_WIDTH_SENSOR

[gcode_macro M405]
description: Turn on the filament width sensor and start using it to do flow control
gcode:
    ENABLE_FILAMENT_WIDTH_SENSOR 

[gcode_macro G29]
gcode:
 G28
 BED_MESH_CALIBRATE
 G1 X0 Y0 Z55 F4000

[gcode_macro DELTA_CALIBRATE]
rename_existing: DELTA_CALIBRATE_BASE
gcode:
  G28
  DELTA_CALIBRATE_BASE

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    M108
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    G28

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.364
#*# pid_ki = 0.988
#*# pid_kd = 1217.347
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.517
#*# pid_ki = 1.329
#*# pid_kd = 113.085
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.352037, -0.352037, -0.352037, -0.352037, -0.352037
#*# 	  0.058480, 0.058480, 0.016932, 0.100930, 0.100930
#*# 	  0.673921, 0.037579, 0.061347, 0.151790, 0.632980
#*# 	  -0.202817, -0.202817, -0.136295, -0.158726, -0.158726
#*# 	  0.395098, 0.395098, 0.395098, 0.395098, 0.395098
#*# tension = 0.2
#*# min_x = -110.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -110.0
#*# x_count = 5
#*# max_y = 110.0
#*# mesh_x_pps = 2
#*# max_x = 110.0
#*#
#*# [printer]
#*# delta_radius = 133.972881
#*#
#*# [stepper_a]
#*# angle = 210.435967
#*# arm_length = 266.500000
#*# position_endstop = 286.563713
#*#
#*# [stepper_b]
#*# angle = 329.806627
#*# arm_length = 266.500000
#*# position_endstop = 286.532394
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 266.500000
#*# position_endstop = 286.581676
#*#
#*# [probe]
#*# z_offset = 15.350
#*#
#*# [delta_calibrate]
#*# height0 = 15.35
#*# height0_pos = 21671.500,21732.500,21678.500
#*# height1 = 15.35
#*# height1_pos = 26791.000,26858.000,18922.000
#*# height2 = 15.35
#*# height2_pos = 21155.000,29929.500,21126.000
#*# height3 = 15.35
#*# height3_pos = 19036.000,25899.000,25897.000
#*# height4 = 15.35
#*# height4_pos = 20918.500,20975.500,27154.000
#*# height5 = 15.35
#*# height5_pos = 25048.000,19199.000,25093.000
#*# height6 = 15.35
#*# height6_pos = 28357.000,21069.000,20979.500
